body {
    background-color: white;
    font-family: 'Rubik', sans-serif;
    color:#586169;
    background: #e6eaed;

}

.main-wrapper {
    
    opacity: 0;

}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 1.5rem;
    text-align: center;
}

.controls button {
    background-color: rgb(76, 127, 175); 
    border: none;
    color: white;
    padding: 7px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;

}

.controls input {
    width: 200px
}

.controls {
    display: flex;
    margin: auto;
    align-items: center;
    max-width: 1780px;
    justify-content: center;
}

.date-wrapper p {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 30px;
}

div.tooltip { 
    position: absolute;     
    text-align: center;     
    padding: 2px 12px;       
    font: 12px sans-serif;
    color: white;    
    background: rgb(92, 92, 92); 
    border: 0px;        
    pointer-events: none;  
    border-radius: 25px;   
}

path:hover {
    stroke-width: 1;
    stroke: rgb(39, 231, 248);
    
  }

  .legend-wrapper {
      display:grid;
      grid-template-columns: repeat(28, auto);
      width:216px;
      margin: auto;
      padding-top:30px;
    

  }

  .legend {
      width:10px;
      height:20px;
  }
  .legend-label {
    width:2px;
    height:20px;
}

.legend-num {
    width:216px;
    margin: auto;
    font-size: 0.5rem;

}

.legend-num p span {
    float: right;
}

.github-icon a img {
    width: 1.5rem;
    height: auto;
    opacity: 0.5;
    transition: opacity 1s;
    margin: 30px 10px 0px 0px;

    
}

.github-icon a img:hover {
    opacity: 1;
}

.github-icon {
    max-width: 580px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}