.main-wrapper {
    background-color: #717480;
    font-family: 'Rubik', sans-serif;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
}

.controls button {
    background-color: rgb(76, 127, 175); /* Green */
    border: none;
    color: white;
    padding: 7px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;

}

.controls input {
    width: 200px
}

.controls {
    display: flex;
    margin: auto;
    align-items: center;
    max-width: 1780px;
    justify-content: center;
}

.date-wrapper p {
    text-align: center;
    color: #ffffff;
    font-size: 0.8rem;
}

div.tooltip { 
    position: absolute;     
    text-align: center;     
    /* width: auto;          
    height: 14px;          */
    padding: 2px 12px;       
    font: 12px sans-serif;
    color: white;    
    background: rgb(92, 92, 92); 
    border: 0px;        
    pointer-events: none;  
    border-radius: 25px;   
}

path:hover {
    stroke-width: 1;
    stroke: rgb(39, 231, 248);
    
  }